<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eraisedtox94.smartdiary">


    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:anyDensity="true"
        android:xlargeScreens="true">
    </supports-screens>

    <!--permission for reading and writing from external storage-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- Connect to Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".app.DiaryApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logotrial"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <!--
        login signup screen activity
        -->
        <activity android:name="com.eraisedtox94.smartdiary.view.main.LoginSignupScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <!--
        login screen activity
        -->
        <activity android:name="com.eraisedtox94.smartdiary.view.main.LoginScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>


        <!--
        lock screen activity
        -->
        <activity android:name="com.eraisedtox94.smartdiary.view.main.LockScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!--Main Activity-->
        <activity android:name="com.eraisedtox94.smartdiary.view.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <!--facebook login integration-->
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>


        <provider
            android:name="com.eraisedtox94.smartdiary.model.DiaryEntryContentProvider"
            android:authorities="com.eraisedtox94.smartdiary.data.provider"
            android:exported="false"
            android:multiprocess="true" />

    </application>

</manifest>