<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eraisedtox94.smartdiary">


    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:anyDensity="true"
        android:xlargeScreens="true">
    </supports-screens>

    <!--permission for reading and writing from external storage-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".app.DiaryApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logotrial"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
        Splash screen activity
        launcher
        -->
        <activity android:name="com.eraisedtox94.smartdiary.view.main.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!--Main Activity-->
        <activity android:name="com.eraisedtox94.smartdiary.view.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.eraisedtox94.smartdiary.model.DiaryEntryContentProvider"
            android:authorities="com.eraisedtox94.smartdiary.data.provider"
            android:exported="false"
            android:multiprocess="true" />

    </application>

</manifest>